Source: kylin-kmre-display-control
Section: libs
Priority: optional
Maintainer: mc <machao@kylinos.cn>
Build-Depends: debhelper (>=9), g++, cmake, libgtest-dev, python-is-python3
Standards-Version: 3.9.6
Homepage: http://www.kylinos.cn

Package: kylin-kmre-display-control
Section: libs
Architecture: any
Conflicts: kydroid2, kydroid2-app-data, kydroid2-daemon, kydroid2-filewatcher, kydroid2-fuse, kydroid2-image-data, display-control-host
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: display control libraries for AppStream.
Provides: display-control-host
Replaces: display-control-host
